<body class="bg-light">
<app-header></app-header>
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Checkout form</h2>
    <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
  </div>

  <div class="row">

    <div class="col-md-12 order-md-1">


      <mat-vertical-stepper  #stepper>
        <mat-step #step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Informations générales</ng-template>
            <mat-form-field>
              <input matInput   placeholder="Nom" formControlName="nom"  required>
            </mat-form-field>
            <br>
            <mat-form-field >
              <input matInput  placeholder="Prenom"  formControlName="prenom" required >
            </mat-form-field>
            <br>
            <label >Civilité</label>
            <br>
            <mat-radio-group formControlName="gender" required>
              <mat-radio-button value="Monsieur">Monsieur</mat-radio-button>
              <mat-radio-button value="Madame">Madame</mat-radio-button>
              <mat-radio-button value="Mlle">Mlle</mat-radio-button>
            </mat-radio-group>
            <mat-form-field [hidden]="!(firstFormGroup.value.gender === 'Madame')" >
              <input matInput   placeholder="Nom de jeune fille" formControlName="nomJF">
            </mat-form-field>
            <br>
            <label >Client BIAT ?</label>
            <br>
            <mat-radio-group formControlName="selectClient" required>
              <mat-radio-button value="Non">Non</mat-radio-button>
              <mat-radio-button value="Oui">Oui</mat-radio-button>
            </mat-radio-group>
            <br>

            <br>
            <mat-form-field [hidden]="!(firstFormGroup.value.selectClient === 'Oui')" >
              <input matInput formControlName="code_client"  placeholder="code client">
            </mat-form-field>
            <br>
            <label>Demande de crédit immédiat</label>
            <br>
            <mat-radio-group formControlName="selectCredit" >
              <mat-radio-button value="Oui">Oui</mat-radio-button>
              <mat-radio-button value="Non">Non</mat-radio-button>
            </mat-radio-group>


            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>




        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Coordonnées</ng-template>
            <mat-form-field>
              <input matInput   placeholder="Pays de résidence" formControlName="pays"  required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput   placeholder="Adresse" formControlName="adresse"  required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput   placeholder="Gouvernorat" formControlName="gouvernorat"  required>
            </mat-form-field>
            <br>  <mat-form-field>
            <input matInput   placeholder="Téléphone mobile" formControlName="mobile"  required>
          </mat-form-field>
            <br>  <mat-form-field>
            <input matInput   placeholder="Téléphone domicile" formControlName="domicile"  required>
          </mat-form-field>
            <br>
            <mat-radio-group formControlName="selectDomicile" required>
              <mat-radio-button value="proprietaire">Propriétaire</mat-radio-button>
              <mat-radio-button value="locataire">Locataire</mat-radio-button>
              <mat-radio-button value="hogement_fonction">Logement de fonction</mat-radio-button>
              <mat-radio-button value="heberge">Hébergé(e) par un tiers</mat-radio-button>

            </mat-radio-group>
            <br>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>



        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Etat civil</ng-template>
            <mat-form-field>
              <input matInput [matDatepicker]="dp3" placeholder="Date de naissance" formControlName="birthDate" >
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Choisir votre pays de naissance</mat-label>
              <br>
              <mat-select formControlName="selectCountry" required>
                <mat-option [value]="country" *ngFor="let country of countrys">{{country}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput   placeholder="Gouvernorat de Naissance " formControlName="gouvernoratNaissance"  required>
            </mat-form-field>
            <br>
            <mat-form-field>
            <input matInput   placeholder="Nationalité" formControlName="nationalite"  required>
          </mat-form-field>
            <br>  <mat-form-field>
            <input matInput   placeholder="Seconde Nationalité" formControlName="secondeNationalite" >
          </mat-form-field>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>




        <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Situation familiale</ng-template>
            <label>Votre situation familiale</label>
            <br>
            <mat-radio-group formControlName="selectSituationFamiliale" required>
              <mat-radio-button value="marie">Marié(e)</mat-radio-button>
              <mat-radio-button value="celibataire">Célibataire</mat-radio-button>
              <mat-radio-button value="veuf">Veuf(e)</mat-radio-button>
              <mat-radio-button value="autres">Autres</mat-radio-button>

            </mat-radio-group>
            <br>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>


        <mat-step [stepControl]="fifthFormGroup">
          <form [formGroup]="fifthFormGroup">
            <ng-template matStepLabel>Situation professionnelle</ng-template>
            <label>Exercez-vous une activité professionnelle ?</label>

            <mat-radio-group formControlName="selectDomaine" required>

              <mat-radio-button value="Oui">Oui</mat-radio-button>
              <mat-radio-button value="Non">Non</mat-radio-button>
            </mat-radio-group>
            <br>

            <mat-form-field [hidden]="!(fifthFormGroup.value.selectDomaine === 'Oui')" >
              <input matInput formControlName="domaine"  placeholder="Domaine" >
            </mat-form-field>
            <br>
            <mat-form-field [hidden]="!(fifthFormGroup.value.selectDomaine === 'Oui')" >
              <input matInput formControlName="profession"  placeholder="profession" >
            </mat-form-field>
            <mat-form-field>
              <input matInput   placeholder="Votre revenu net mensuel" formControlName="revenuMensuel"  required>
            </mat-form-field>
            <a href=""><h2>Vous êtes éligible aux cartes bancaires suivantes</h2></a>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>



        <mat-step [stepControl]="sixthFormGroup">
          <form [formGroup]="sixthFormGroup">
            <ng-template matStepLabel>Utilisation du compte</ng-template>
            <label>Comment pensez-vous alimenter votre compte?</label>

            <mat-radio-group formControlName="selectAlimentation" required>
              <mat-radio-button value="revenu">revenus / salaires</mat-radio-button>
              <mat-radio-button value="virement"> virements externes</mat-radio-button>
              <mat-radio-button value="autres"> Autres</mat-radio-button>
            </mat-radio-group>
            <br>
            <label> quels services souhaitez-vous utiliser ?</label>

            <mat-radio-group formControlName="selectServices" required>
              <mat-radio-button value="prElevements">Prélèvements</mat-radio-button>
              <mat-radio-button value="creditConsommation">Crédit consommation</mat-radio-button>
              <mat-radio-button value="creditImmobilier">Crédit immobilier</mat-radio-button>
              <mat-radio-button value="virements">Virements</mat-radio-button>
              <mat-radio-button value="epargne">Epargne</mat-radio-button>
            </mat-radio-group>
            <br>


            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="seventhFormGroup">
          <form [formGroup]="seventhFormGroup">
            <ng-template matStepLabel>Choix </ng-template>
            <label>Choisissez votre carte</label>
            <br>

                    <label>loading...</label>


            <br>


            <label>Copie CIN</label>
            <input  type="file" accept="image/*"   formControlName="copieCIN"  (change)="fileSelected1($event)">

            <br>

              <label>fiche de paie</label>
              <input  type="file" accept="image/*"  formControlName="fichePaie"  (change)="fileSelected2($event)">

            <br>

              <label>Facture</label>
              <input  type="file" accept="image/*"   formControlName="facture"  (change)="fileSelected3($event)">

              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </form>
        </mat-step>



        <mat-step>
          <ng-template matStepLabel>Valider</ng-template>
          <button class="btn btn-primary btn-lg btn-block" (click)="SubmitCompte()" >Valider</button>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>







    </div>
  </div>

  <app-footer></app-footer>
</div>
</body>
