<div>
  <div class="row" style="height: 100vh;width: 100vw">
    <div class="col-md-5 col-xs-12 " style="background-image: url('../../../assets/img/bg-4.jpg');background-size: cover;">
      <div class="row d-flex align-items-center h-100">
        <div class="header-siderbar p-5 col-12">
          <img src="../assets/img/biat.png" class="img-fluid fadeIn first" style=" width:50px;height: 50px"/>
        </div>

        <div class="body-sidebar p-5 col-12 ">
          <h3 class="text-white">Bienvenue Au BIAT</h3>
          <span style="color: rgba(255, 255, 255, 0.7)">Au cours des 40 dernières années, la BIAT est devenue un groupe bancaire fort grâce à l'engagement et à l'expertise des hommes et des femmes qui font de notre société ce qu'elle est aujourd'hui.</span>
        </div>

        <div class="d-flex bd-highlight mb-3 p-5 col-12">
          <div class="mr-auto p-2 bd-highlight "> <span style="color: rgba(255, 255, 255, 0.4)">© 2019 BIAT</span></div>
          <div class="p-2 bd-highlight"> <span style="color: rgba(255, 255, 255, 0.4)">Privacy</span></div>
          <div class="p-2 bd-highlight"><span style="color: rgba(255, 255, 255, 0.4)">Contact</span> </div>
        </div>

      </div>
    </div>
    <div class="col-md-7 col-xs-12">
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first p-5">
            <h3>Se Connecter</h3>
          </div>

          <!-- Login Form -->
          <form class="m-5" role="form" (ngSubmit)="loginIn()">
            <input type="text" [(ngModel)]="login" id="login" class="fadeIn second" name="Email" placeholder="Email" required="required">
            <input type="password" [(ngModel)]="password" id="password" class="fadeIn third my-4" name="Password" placeholder="Mot de passe" >
            <input type="submit" class="fadeIn fourth " value="Connexion">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" routerLink="/register" routerLinkActive="active">Vous n'avez pas encore de compte? S'inscrire!</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdOpacity = 0.9
  bdColor = "#21356c"
  size = "large"
  color = "#f28820"
  type = "square-loader"
  [fullScreen] = "true">
  <p style="color: white" > </p>
</ngx-spinner>

