<div>
  <div class="row" style="height: 100vh;width: 100vw">
    <div class="col-md-5 col-xs-12 " style="background-image: url('../../../assets/img/bg-4.jpg');background-size: cover;">
      <div class="row d-flex align-items-center h-100">
        <div class="header-siderbar p-5 col-12">
          <img src="../assets/img/biat.png" class="img-fluid" style=" width:50px;height: 50px"/>

        </div>

        <div class="body-sidebar p-5 col-12 ">
          <h3 class="text-white">Welcome To BIAT</h3>
          <span style="color: rgba(255, 255, 255, 0.7)">Over the past 40 years, BIAT has become a strong banking group thanks to the commitment and expertise of the men and women who make our company what it is today.</span>
        </div>

        <div class="d-flex bd-highlight mb-3 p-5 col-12">
          <div class="mr-auto p-2 bd-highlight "> <span style="color: rgba(255, 255, 255, 0.4)">© 2019 BIAT</span></div>
          <div class="p-2 bd-highlight"> <span style="color: rgba(255, 255, 255, 0.4)">Privacy</span></div>
          <div class="p-2 bd-highlight"><span style="color: rgba(255, 255, 255, 0.4)">Contact</span> </div>
        </div>

      </div>
    </div>
    <div class="col-md-7 col-xs-12">
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first p-5">
            <h3>Sign In</h3>
          </div>

          <!-- Login Form -->
          <form class="m-5">
            <input type="text" id="login" class="fadeIn second" name="Email" placeholder="Email">
            <input type="text" id="password" class="fadeIn third my-4" name="Password" placeholder="Password">
            <input type="submit" class="fadeIn fourth " value="Log In">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Don't have an account yet?   Sign Up!</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
