<body class="bg-light">
<app-header></app-header>
<div class="container">
  <a routerLink="/professional-account" routerLinkActive="active">Compte Physique</a>
  <a routerLink="/company-account" routerLinkActive="active">Compte Morale</a>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <a routerLink="/professional-account" routerLinkActive="active">Compte Physique</a>
  <a routerLink="/company-account" routerLinkActive="active">Compte Morale</a>
</div>
<app-footer></app-footer>
</body>
