
<mat-toolbar style="color: #f28820 ">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container style="height: 100%" autosize >
  <mat-sidenav #sidenav mode="side" opened="true" >
    <mat-nav-list >
      <div style="padding: 0px 10px;">
        <button mat-icon-button (click)="showFiller = !showFiller">
          <mat-icon  style="color: #21356c" *ngIf="showFiller">arrow_left</mat-icon>
          <mat-icon  style="color: #21356c" *ngIf="!showFiller">arrow_right</mat-icon>
        </button>
      </div>


      <a mat-list-item  [routerLink]="'/admin/dashboard'"  style="color: #21356c"><mat-icon style="color: #21356c" aria-hidden="false" aria-label="Example home icon">home</mat-icon>  <span *ngIf="showFiller">Dashboard</span></a>
      <a mat-list-item  [routerLink]="'/admin/users'" style="color: #21356c"> <mat-icon style="color: #21356c" aria-hidden="false" aria-label="Example user icon">supervised_user_circle</mat-icon> <span *ngIf="showFiller">Gérer Les Utilisateur </span></a>
      <a mat-list-item  [routerLink]="'/admin/accounts'" style="color: #21356c"> <mat-icon style="color: #21356c" aria-hidden="false" aria-label="Example user icon">account_balance</mat-icon><span *ngIf="showFiller">Gérer Les Comptes </span></a>
      <a mat-list-item  class="mt-5"  style="color: #21356c"> <mat-icon aria-hidden="false" style="color: #21356c" aria-label="Example user icon">exit_to_app</mat-icon><span *ngIf="showFiller">Déconnexion</span> </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="p-4">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



<app-footer></app-footer>

<ngx-spinner
  bdOpacity = 0.9
  bdColor = "#21356c"
  size = "large"
  color = "#f28820"
  type = "square-loader"
  [fullScreen] = "true">
  <p style="color: white" > </p>
</ngx-spinner>
