<mat-toolbar style="color: #f28820 ;background: #21356c">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>BIAT</h1>
    <span class="menu-spacer"></span>
    <div>

      <a mat-button [routerLink]="'/admin/dashboard'"  style="color: white"><mat-icon  style="color: #f28820" aria-hidden="false" aria-label="Example home icon">home</mat-icon>  Dashboard</a>
      <a mat-button [routerLink]="'/admin/users'"  style="color: white"> <mat-icon  style="color: #f28820" aria-hidden="false" aria-label="Example user icon">supervised_user_circle</mat-icon> Gérer Les Utilisateur </a>
      <a mat-button [routerLink]="'/admin/accounts'" style="color: white"> <mat-icon style="color: #f28820"  aria-hidden="false" aria-label="Example user icon">account_balance</mat-icon>Gérer Les Comptes </a>
      <a mat-button (click)="logout()" style="color: white"> <mat-icon  style="color: #f28820" aria-hidden="false" aria-label="Example user icon">exit_to_app</mat-icon>Déconnexion </a>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav #sidenav style="background: #21356c">
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/admin/dashboard'"  style="color: white"><mat-icon style="color: #f28820" aria-hidden="false" aria-label="Example home icon">home</mat-icon>  Dashboard</a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/admin/users'" style="color: white"> <mat-icon style="color: #f28820" aria-hidden="false" aria-label="Example user icon">supervised_user_circle</mat-icon> Gérer Les Utilisateur </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/admin/accounts'" style="color: white"> <mat-icon style="color: #f28820" aria-hidden="false" aria-label="Example user icon">account_balance</mat-icon>Gérer Les Comptes </a>
      <a mat-list-item (click)="logout()" class="mt-5"  style="color: white"> <mat-icon aria-hidden="false" style="color: #f28820" aria-label="Example user icon">exit_to_app</mat-icon>Déconnexion </a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid mt-5">
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ngx-spinner
  bdOpacity = 0.9
  bdColor = "#21356c"
  size = "large"
  color = "#f28820"
  type = "square-loader"
  [fullScreen] = "true">
  <p style="color: white" > </p>
</ngx-spinner>
