
<body>
<app-header></app-header>
<div class="main-content">
  <!-- Top navbar -->

  <!-- Header -->
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../../../assets/img/profile_backgroud.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Bienvenu {{userUpdate.firstName}}</h1>
          <p class="text-white mt-0 mb-5">La BIAT met son expertise et sa solidité au profit de ses clients et de l’économie de la Tunisie</p>
          <a class="nav-link" routerLink="/account" routerLinkActive="active">Nouveau Compte</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">

                  <img src="../../../assets/img/biat.png"class="rounded-circle">

              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    <span class="heading"></span>
                    <span class="description"></span>
                  </div>
                  <div>
                    <span class="heading"></span>
                    <span class="description"></span>
                  </div>
                  <div>
                    <span class="heading"></span>
                    <span class="description"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3 class="capitalize">
                {{ authService.getUser().firstName }} {{ authService.getUser().lastName }}<span class="font-weight-light"></span>
              </h3>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>{{ authService.getUser().email }}
              </div>

              <hr class="my-4">
              <p>Votre Compte  a été créée en  </p>
              <div>
                <i class="ni education_hat mr-2"></i>{{ authService.getUser().createdDate |  date : "dd-MM-y" }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">

          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Mon Compte</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form role="form" (ngSubmit)="updateUser()">
              <div>
                <div class="row align-items-center">
                  <div class="col-8">
                  </div>
                  <div class="col-4 text-right">
                    <input type="submit" class="btn btn-sm btn-primary" value="Modifier" [disabled]=""/>
                  </div>
                </div>
              </div>
              <h6 class="heading-small text-muted mb-4">Information Utilisateur</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Adresse Email</label>
                      <input disabled="disabled" type="email" id="input-email" class="form-control form-control-alternative" value="{{ authService.getUser().email }}" placeholder="Adresse Email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-first-name">Nom</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" required="required" name="firstName" [(ngModel)]="firstName" [required]="true">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Prénom</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Prénom" name="lastName" [(ngModel)]="lastName"  [required]="true">
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <form role="form" (ngSubmit)="updatePassword()">
              <hr class="my-4">
              <div>
                <div class="row align-items-center">
                  <div class="col-8">
                  </div>
                  <div class="col-4 text-right">
                    <input type="submit" class="btn btn-sm btn-primary" value="Changer" />
                  </div>
                </div>
              </div>
              <h6 class="heading-small text-muted mb-4">Mot De Passe</h6>

              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Ancien Mot De Passe</label>
                      <input type="password" name="ancienPassword" [(ngModel)]="ancienPassword"  required="required"  class="form-control form-control-alternative" placeholder="Ancien Mot De Passe">
                      <span style="color: red" *ngIf="this.ancienPassword === ''">{{erreurR}}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-first-name">Nouveau Mot De Passe</label>
                      <input type="password"  name="newPassword" [(ngModel)]="newPassword"  required="required" class="form-control form-control-alternative" placeholder="Nouveau Mot De Passe" >
                      <span style="color: red" *ngIf="this.newPassword === ''">{{erreurR}}</span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Confirm Mot De Passe</label>
                      <input type="password"   name="newPasswordRe" [(ngModel)]="newPasswordRe"  required="required" class="form-control form-control-alternative" placeholder="Confirm Mot De Passe" >
                      <span style="color: red" >{{erreur}}</span><br *ngIf="this.erreur !== ''">
                      <span style="color: red" *ngIf="this.newPasswordRe === ''">{{erreurR}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>


              <hr class="my-4">
              <!-- Description -->
              <h6 class="heading-small text-muted mb-4">Mes Comptes</h6>


              <div class="row" *ngFor="let c of comptes" [hidden]="loading">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <mat-card  class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title> {{ c.type_compte }}</mat-card-title>
                        <mat-card-subtitle>Type Service : {{c.type_service}}</mat-card-subtitle>
                      </mat-card-header>
                      <qrcode [qrdata]="stringify(c)" [size]="256" [level]="'M'"></qrcode>
                      <mat-card-content>
                      <p>  Etat de Compte : {{ c.etat_du_compte }}</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                          Agences prés de moi
                        </button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>
              </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</body>
<ngx-spinner name="sp2"
             bdOpacity=0.9
             bdColor=""
             size="medium"
             color="#f28820"
             type="ball-spin-fade-rotating"
             [fullScreen]="true">
  <p style="color: #f28820"> Chargement de vos comptes bancaires... </p>
</ngx-spinner>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="lat">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
  </div>
  </div>
</div>
