<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <img src="../assets/img/biat.png" class="img-fluid masthead-brand" style=" width:50px;height: 50px"/>

    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">404 PAGE NON TROUVÉE</h1>
    <p class="lead">Nous sommes désolés mais la page que vous cherchiez n'a pas été trouvée ...</p>
    <p class="lead">
      <a routerLink="/home" routerLinkActive="active" class="btn btn-lg btn-secondary">Page Accueil</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">

    </div>
  </footer>
</div>
</body>
